.message-card {
  border: 10px;
  text-align: center;
  color: black;
  margin-bottom: 5vh;
  margin-left: 3vh;
  margin-right: 3vh;
}

.card-header {
  background-color: rgb(7, 212, 212);
  color: rgb(0, 0, 0);
}

img{
  max-width: 450px;
  max-height: 450px;
  display: inline-block;
}

.message-content{
  max-height: 300px;
  overflow-y: auto;
}