.message-card {
  border: 10px;
  text-align: center;
  color: black;
  margin-bottom: 5vh;
  margin-left: 3vh;
  margin-right: 3vh;
  width: 100%;
}

.message-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.message-button {
  margin-left: 5px;
}

.card-header {
  background-color: rgb(7, 212, 212);
  color: rgb(0, 0, 0);
  font-size: large;
  font-weight: bold;
  padding-left: 1px;
}

.card-footer {
  height: min-content;
}

.seen {
  background-color: rgb(5, 169, 169);
}

.form {
  background-color: #00000008;
}

.message-content img {
  max-width: 450px;
  max-height: 450px;
  display: inline-block;
}

.react-true {
  background-color: black;
}

.react-button {
  max-width: 55px;
  max-height: 55px;
  margin-right: 5px;
}

.react-button:hover {
  color: #000;
}

.react-button img {
  max-width: 32px;
  max-height: 32px;
  display: inline-block;
}

.message-content {
  text-align: left;
}

.card-title {
  text-align: left;
  padding-left: 10px;
}

.message-title {
  display: inline-block;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}
