.collapsable-button{
  background-color: transparent;
  border: none;
  font-size: 0;
  cursor: pointer;
  width: 0;
  height: 0;
  padding: 0;
  border-bottom: 8px solid;
  border-left: 8px solid #333;
  border-top: 8px solid;
}

.rotate-arrow{
  transform: rotate(90deg);
  transition: transform 0.5s;
}

.collapsable-button:hover {
  border-color: unset;
  border-left-color: rgb(156, 156, 156);
  transition: border-left-color 0.3s;
  background: unset !important;
}

.collapsable-button:active{
  border-color: unset;
  border-left-color: rgb(156, 156, 156);
  transition: border-left-color 0.3s;
  background: unset !important;
}