pg_user='user'
pg_password='password'
pg_host='host'
pg_database='database'
pg_port=1234
SECRET_KEY='asecretkey'
sendinblue_key='AcquiredFromSendInBlue'
email_address='testemail@test.com'
email_password='emailpassword'
email_host='SendInBlueHost'
email_port=123

backend_url='http://localhost:3000'