.sidebar{
  left: 0;
  margin-left: 1%;
  border-style: double;
  padding: 0%;
  background-color: black;
  z-index: 198;
  width: 300px;
}

.sidebar-card{
  border-style: double;
  padding: 0px;
  text-overflow: ellipsis;
  height: min-content;
  color: black;
  margin-bottom: 0px !important;
}

.sidebar-header{
  background-color: rgb(7, 212, 212);
  color: rgb(0, 0, 0);
  font-size: large;
  font-weight: bold;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.sidebar-title{
  text-align: left;
}

.sidebar-content{
  height: min-content;
  max-height: 600px;
  overflow-y: auto;
}

.sidebar-img{
  height: 32px;
  width: 32px;
}