.hamburger-button{
  position: relative;
}

.hamburger-lines {
    position: relative;
    height: 26px;
    width: 32px;
    top: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

.hamburger-lines:hover{
  cursor: pointer;
}

.hamburger-line{
  display: block;
  height: 2px;
  width: 80%;
  border-radius: 5px;
  background-color: black;
}

.hamburger-options button{
  text-align: left;
  margin-top: 1px;
  font-weight: bold !important;
}

.hamburger-options{
  position: absolute;
  z-index: 999;
  overflow: visible;
  border-style: double;
  background-color: white;
}